<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="hmh_otslogin" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>OTS Login</label>
            <tab>hmh</tab>
            <resource>Hmh_OtsLogin::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="passcode_valid_period" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Passcode Valid Period</label>
                    <source_model>Hmh\OtsLogin\Model\Config\Source\PasscodeValidPeriod</source_model>
                    <comment>Validity period in minutes.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="communication_methods" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Communication Methods</label>
                    <source_model>Hmh\OtsLogin\Model\Config\Source\CommunicationMethods</source_model>
                    <comment>Choose how one time codes are delivered.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="email" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email</label>
                <depends>
                    <field id="general/enable">1</field>
                </depends>
                <field id="sender" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                    <depends>
                        <field id="general/enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
